.masthead {
    height: 25vh;
    min-height: 400px;
    max-height: 700px;
    background-image: url('https://0906948.github.io/iuxd-beginner/iuxd-beginner/src/img/home/unsplash-photo-1511746315387-c4a76990fdce.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }